@import url('https://fonts.googleapis.com/css2?family=Diplomata+SC&family=Hammersmith+One&family=Indie+Flower&family=Kdam+Thmor+Pro&family=Noto+Sans+Chakma&family=Nunito:wght@400;900&family=Passions+Conflict&family=Qwitcher+Grypen&family=Satisfy&family=Sevillana&family=Source+Sans+Pro:ital,wght@1,600;1,900&family=The+Nautigal&family=Yellowtail&display=swap');


.cardItem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;

}
.image{
    width: 100%;
    border-radius: 1rem;
    box-shadow: 1px 1px rgba(0 ,0 ,0 , 0.02);
}
.imagebutton{
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    gap:15px;
    bottom: 15px;
    width: 100%;
}

.store{
    display: flex;
    align-items: center;
    justify-content: center;
    width:35%;
    height: 35px;
    background: blue;
    visibility: hidden;
    font-weight: 600;
    text-align: center;
    border-radius: 0.5rem;
    margin: 0 0.8rem;
}
.cardItem:hover{
    border-radius: 1.1rem;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0),
    rgba(17, 0, 255, 0.1) );
}
.cardItem:hover .image{
    opacity: 0.8;
}

.cardItem:hover .store{
    visibility: visible;
}

.store:hover{
    color: white;
    background:black;
}

.icon{
    fill: white  !important;
    width: 1.3rem;
    height: 2rem;
}
.oneIcon{
    fill: white  !important;
    width: 1.3rem;
    height: 2rem;
}

.description{
    margin-bottom: 60px;
    margin-top: 25px;
    line-height: 25px;
    color: #757677;
    font-size: 13px;
    font-family: "Raleway", sans-serif;
}