@import url('https://fonts.googleapis.com/css2?family=Diplomata+SC&family=Hammersmith+One&family=Indie+Flower&family=Kdam+Thmor+Pro&family=Noto+Sans+Chakma&family=Nunito:wght@400;300&family=Passions+Conflict&family=Qwitcher+Grypen&family=Raleway:ital,wght@0,300;0,900;0,600;1,100&family=Satisfy&family=Sevillana&family=Source+Sans+Pro:ital,wght@1,600;1,900&family=The+Nautigal&family=Yellowtail&display=swap');


  .container{
    width: 100%;
    height: 150px;
    margin: 0;
    list-style: none;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 15px;
    padding: 15px;
    border-radius: 50px;


}

.date{
    margin-bottom: -10px;
    padding-top:50px;
    color: #757677;
    font-family: "Raleway", sans-serif;

}

.title{
    color: #191b1d;
    overflow-wrap: break-word;
    line-height: 3rem;
    font-weight: 800 !important;
    letter-spacing: -0.06em;
    font-size: 1rem !important;
    font-family: "Raleway", sans-serif;


}
.desc{
    display: flex;
    color: #757677;
    padding-bottom: 30px;
    font-family: "Raleway", sans-serif;

}

.buttonCol{
    display: flex;
    justify-content: end;
    align-items:  end;
}
.button{
   border: none;
    font-weight: bold;
    font-size: 12px;

}