.header{
    font-size: 3.5rem;
}

.header::after{
    content: "TECHNOLOGIES";
    color:rgba(0, 0, 0, 0.06);
    font-size: 150%;
    position: absolute;
    left: 0;
    top: -35px;
}

@media only screen and  (min-width: 481px) and (max-width: 767px){
    .header{
        font-size: 3.5rem;
    }
    .header::after{
        font-size: 80%;
        top:-10px;

    }

}
@media only screen and  (max-width: 481px){
    .header{
        font-size: 3.5rem;
    }
    .header::after{
        font-size: 100%;
        top:-10px;

    }
}
@media (max-width: 480px) {

    .header{
        font-size: 1.5rem;
    }
    .header::after{
        font-size: 100%;
        top:-10px;

    }

}