@import url('https://fonts.googleapis.com/css2?family=Diplomata+SC&family=Hammersmith+One&family=Indie+Flower&family=Kdam+Thmor+Pro&family=Noto+Sans+Chakma&family=Nunito:wght@400;900&family=Passions+Conflict&family=Qwitcher+Grypen&family=Raleway:ital,wght@0,300;0,400;0,500;1,100;1,500&family=Satisfy&family=Sevillana&family=Source+Sans+Pro:ital,wght@1,600;1,900&family=The+Nautigal&family=Yellowtail&display=swap');
.fadeTitle{
    margin-bottom: 50px;

}
.header{

    color: black;
    font-size: 3.5rem;
    font-family: "Raleway", sans-serif;
    font-weight: 800 !important;
    text-shadow: 20px -20px rgba(0, 0, 0, 0.09);
}
.desc{
    margin-top: -20%;
    color: #757677;
    display: flex;

}

@media only screen and  (min-width: 481px) and (max-width: 767px){
    .header{
        font-size: 3.5rem;
    }

}
@media only screen and  (max-width: 481px){
    .header{
        font-size: 2rem;
    }

    .desc{
        margin-top: -10%;
    }
}
@media (max-width: 480px) {
    .header{
        font-size: 2rem;
    }

}


