.blog{
    height: 100%;
    padding-top: 60px;
    background: #F4F9F4;
    padding-left: 7%;
    width: 100%;
}
@media only screen and (max-width: 767px){
    .blog{
        display: flex;
        justify-content: center;
        padding-left: 0;
    }
}