@import url('https://fonts.googleapis.com/css2?family=Diplomata+SC&family=Hammersmith+One&family=Indie+Flower&family=Kdam+Thmor+Pro&family=Noto+Sans+Chakma&family=Nunito:wght@400;900&family=Passions+Conflict&family=Qwitcher+Grypen&family=Satisfy&family=Sevillana&family=Source+Sans+Pro:ital,wght@1,600;1,900&family=The+Nautigal&family=Yellowtail&display=swap');

.home{
    padding-top: 80px;
    width: 100%;
    height: 600px;
    background-color: #efefef;


    display: flex;
    justify-content: center;
    flex-direction: column;
}

.homeAbout{
    width: 50%;
    padding-left: 10%;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.name{
    font-family: 'Qwitcher Grypen' !important;
    font-size: 5rem !important;
    display: flex !important;
    line-height:1.3 !important;
    z-index: 55 !important;

}

.job{
    font-size: 3rem;
    color: #191b1d;
    font-weight: 600;
    text-transform: uppercase;
    margin: 2rem 0;
    position: relative;
    margin-top: -4%;
    /*z-index: -1;*/
    background: blue;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px rgba(202, 197, 250, 0.7411764706);
    line-height:1;
}

@media only screen and (max-width: 622px) {
    .name {
        font-family: 'Qwitcher Grypen' !important;
        font-size:2.4rem;
        display: flex;
    }
    .job{
        font-size: 1.6rem;

    }
    .homeAbout{
        padding-left: 0;
    }
}

.explan{
    font-size: 1rem;
    font-weight: 500;
    color: rgba(25, 27, 29, 0.6);
    margin: 1rem 0 2rem;
    text-align:left ;
}
.button{
    width: 100px;
}

.contactIcon{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    width: 520px;
    height: 50px;
    transform-origin: 0 0;
    transform: rotate(90deg);
}

.Link{
    position: relative;
    display: flex;
    justify-content: center;
    width: 100px;
    cursor: pointer;
    transition: 0.5s;
}

.Link::before{
    content: "";
    position: absolute;
    inset:0;
    border-radius: 50%;
    transition: 0.5s;
}

.Link::after{
    background-color: green;
    content: "";
    position: absolute;
    border-radius: 50%;
    opacity: 0;
    transition: 0.5s;
    z-index: -1;
}

.text{
    font-weight: bold;
    transition: 0.5s;
    transition-delay: 0s;
}


.iconArea {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: iconArea 1s ease;
}
@keyframes iconArea {
    0% {
        transform: scale(1, 1) rotateY(0deg);
    }
    50% {
        transform: scale(1.5, 1.5) rotateY(180deg);
    }
    100% {
        transform: scale(1, 1) rotateY(0deg);
    }
}
