@import url('https://fonts.googleapis.com/css2?family=Diplomata+SC&family=Hammersmith+One&family=Indie+Flower&family=Kdam+Thmor+Pro&family=Noto+Sans+Chakma&family=Nunito:wght@400;900&family=Passions+Conflict&family=Qwitcher+Grypen&family=Raleway:ital,wght@0,300;1,100&family=Satisfy&family=Sevillana&family=Source+Sans+Pro:ital,wght@1,600;1,900&family=The+Nautigal&family=Yellowtail&display=swap');


.tech{
    background: #F4F9F4;
    display: flex;
    justify-content: center;
    padding-bottom: 80px;
    width: 100%;
    height: 100%;

}
@media only screen and (max-width: 767px){
    .tech{
        display: flex;
        justify-content: center;
    }
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 100px;

}
.itemIcon {
    width: 3rem;
    height: 3rem;
}
.item{
    color:#F4F9F4;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.item:hover{
    color: rgba(25, 27, 29, 0.6);
}

.itemTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    font-family: "Raleway", sans-serif;

}
