.project{
    height: 100%;
    background-color: #efefef;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.fadleTitle{
    display: flex;
    justify-content: center;

}
.projectCard{
    gap: 15px;
    display: flex;
    justify-content: center;

}