.project{
    height: 100%;
    background-color: #efefef;
    width: 100%;
    display: flex;
    margin-bottom: 100px;
}
.fadleTitle{
    display: flex;
    justify-content: center;
    text-align: center;
}

.projectCard{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;

}